{% extends 'base.html.twig' %}

{% block title %}New Videogame{% endblock %}

{% block body %}
    <h1>Create new Videogame</h1>

    {{ include('videogame/_form.html.twig') }}

    <a href="{{ path('videogame_index') }}">back to list</a>
{% endblock %}
